<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

</head>
<body>
<!--<header th:insert="~{blocks/header :: header}"></header>-->
<div class="tab-content">
        <h1>Регистрация</h1>

        <form action="/api/v1/registration" method="post">
            <div class="top-row">
                <div class="field-wrap">
                    <label for="name">First Name<span class="req">*</span></label>
                    <input id="name" type="text" name="name" placeholder="Имя"/>
                </div>
            </div>
            <div class="field-wrap">
                <label for="email">Email<span class="req">*</span></label>
                <input id="email" type="email" name="email" placeholder="Email" />
            </div>
            <div class="field-wrap">
                <label for="password">Set A Password<span class="req">*</span></label>
                <input id="password" type="password" name="password" placeholder="Пароль" required autocomplete="off"/>
            </div>
            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
            <button type="submit" class="button button-block">Зарегистрироваться</button>
        </form>
    <a href="/api/v1/login">Войти</a>
<!--        <div th:if="errorMessage">-->
<!--            <h2 style="color: red">${errorMessage}</h2>-->
<!--        </div>-->

</div>
<!--<footer th:insert="~{blocks/footer :: footer}"></footer>-->
</body>
</html>